<!-- NECESARIO -->

<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title : 'Agregar producto' }) %>


    <body class="bg-light">
        <%- include('../partials/header') %>

            <main class="add">

                <section class="contain-add">

                    <div>
                        <h3>AGREGAR PRODUCTO</h3>
                    </div>

                    <!-- MUESTRA IMÁGENES GUARDADAS A SUBIR O CAMBIAR EN add.ejs y edit.ejs RESPECTIVAMENTE -->
                    <div class="col-12 col-md-6">
                        <div id="preview">
                        </div>
                    </div>
                    <!-- MUESTRA IMÁGENES GUARDADAS A SUBIR O CAMBIAR EN add.ejs y edit.ejs RESPECTIVAMENTE / -->

                    <!-- CONFIGURACION PARA CARGAR ARCHIVOS CON  MULTER. enctype  -->
                    <!--                                                                                                                        ESTE id ESTÁ SIRVIENDO PARA VALIDACIONES FRONT -->
                    <form method="POST" enctype="multipart/form-data" id="formproductadd">



                        <!-- SUBIR IMAGEN  PROFUNDIDAD DE CÓDIGO DE PROFE ERIC-->
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="image" class="button-red" style="padding: 10px;" id="btnImagen">
                                    Subir imagen
                                </label>
                                <input hidden class="form-control" type="file" id="image" name="splideImages" multiple
                                    class="form-control <%= locals.errors && errors.splideImage ? 'is-invalid' : null %>">
                                <!-- MENSAJE DE VALIDACION BACKEND -->
                                <% if (locals.errors ) { %>
                                    <% errors.forEach(error=> { %>
                                        <p class="text-danger">
                                            <%= error.param=='splideImages' ?error.msg : null %>
                                        </p>
                                        <% }) %>
                                            <% } %>
                                                <!-- MENSAJE DE VALIDACION BACKEND / -->
                            </div>
                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                            <span id="imageError" class="text-danger small ms-2">
                                <%= locals.errors && errors.image ? errors.image.msg : null%>
                            </span>
                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>
                        <!-- SUBIR IMAGEN  PROFUNDIDAD DE CÓDIGO DE PROFE ERIC / -->








                        <!-- NAME -->
                        <div>
                            <label class="inputsAdd" class="inputsAdd" for="name">Nombre
                                <!-- ESTA CLASE  form-control Y ESTE TERNARIO ES NECESARIO PARA VALIDACIONES FRONT -->
                                <input type="text"
                                    class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                    name="name" id="name" placeholder="Al menos 5 caracteres alfanuméricos"
                                    value="<%= locals.old && old.name ? old.name : ''%>">
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param=='name' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="nameError" class="text-danger small ms-2" style="display: block;">
                                                <%= locals.errors && errors.name ? errors.name.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>

                        <!-- CATEGORY -->
                        <div>
                            <label class="inputsAdd" for="category">Categoria
                                <input type="number"
                                    class="form-control <%= locals.errors && errors.category ? 'is-invalid' : null %>"
                                    name="category" id="category" placeholder="1=Hombre      2=Mujer"
                                    value="<%= locals.old && old.category ? old.category : ''%>">
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param=='category' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="categoryError" class="text-danger small ms-2"
                                                style="display: block;">
                                                <%= locals.errors && errors.category ? errors.category.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>



                        <!-- PRICE -->
                        <div>
                            <label class="inputsAdd" for="price">Precio
                                <input type="number"
                                    class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                                    name="price" id="price" placeholder="Número mayor a 100"
                                    value="<%= locals.old && old.price ? old.price : ''%>">
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param=='price' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="priceError" class="text-danger small ms-2"
                                                style="display: block;">
                                                <%= locals.errors && errors.price ? errors.price.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>



                        <!-- DISCOUNT -->
                        <div>
                            <label class="inputsAdd" for="discount">Descuento
                                <input type="number" name="discount" id="discount"
                                    class="form-control <%= locals.errors && errors.discount ? 'is-invalid' : null %>"
                                    placeholder="Número entre 0 y 70"
                                    value="<%= locals.old && old.discount? old.discount:'0'%>">
                                <!--                                                                                           "0" CON DOBLE COMILLA, FORMATEANDO CODIGO, CREA UN ESPACIO IMPIDIENDO VISIBILIDAD DEL '0'-->
                                <!-- EN value PUEDE HABER UN VALOR POR DEFECTO-->
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param=='discount' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="discountError" class="text-danger small ms-2"
                                                style="display: block;">
                                                <%= locals.errors && errors.discount ? errors.discount.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>




                        <!-- DESCRIPTION -->
                        <h6>Descripción</h6>
                        <div class="add-description">
                            <textarea name="description" id="description"
                                class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                                placeholder="Al menos 20 caracteres es requerido"><%= locals.old && old.description ? old.description : '' %></textarea>
                        </div>
                        <!-- MENSAJE DE VALIDACION BACKEND-->
                        <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                        <% if (locals.errors ) { %>
                            <% errors.forEach(error=> { %>
                                <p class="text-danger">
                                    <%= error.param=='description' ?error.msg : null %>
                                </p>
                                <% }) %>
                                    <% } %>
                                        <!-- MENSAJE DE VALIDACION BACKEND / -->
                                        <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                        <span id="descriptionError" class="text-danger small ms-2"
                                            style="display: block;">
                                        </span>
                                        <!-- MENSAJE DE VALIDACION DEL FRONT / -->

                                        <!-- SECTIONS -->
                                        <div>
                                            <label for="section">Disponible en la sección:
                                                <div class="sectionProduct">
                                                    <!--NECESARIO PARA GUARDAR: name="section" -->

                                                    <!-- GUARDA VALOR EN DB                               value="1"-->
                                                    <input type="radio" id="banner" name="section" value="1">
                                                    <label for="banner">1 Banner</label>
                                                    <input type="radio" id="masvendidos" name="section" value="2">
                                                    <label for="masvendidos">2 Más vendidos</label>
                                                    <input type="radio" id="promocion" name="section" value="3">
                                                    <label for="promocion">3 Promoción</label>
                                                    <input type="radio" id="ofertas" name="section" value="4">
                                                    <label for="ofertas">4 Ofertas</label>
                                                    <input type="radio" id="liquidacion" name="section" value="5">
                                                    <label for="liquidacion">5 Liquidación</label>
                                                </div>
                                            </label>
                                        </div>
                                        <!-- MENSAJE DE VALIDACION BACKEND-->
                                        <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                                        <% if (locals.errors ) { %>
                                            <% errors.forEach(error=> { %>
                                                <p class="text-danger">
                                                    <%= error.param=='section' ?error.msg : null %>
                                                </p>
                                                <% }) %>
                                                    <% } %>
                                                        <!-- MENSAJE DE VALIDACION BACKEND / -->
                                                        <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                                        <span id="sectionError" class="text-danger small ms-2"
                                                            style="display: block;">
                                                        </span>
                                                        <!-- MENSAJE DE VALIDACION DEL FRONT / -->

                                                        <!-- COLOR -->
                                                        <div>
                                                            <label for="">Colores
                                                                <div class="button-contain">
                                                                    <div class="radio-item4" class="negro">
                                                                        <input type="radio" id="ritemd" name="color"
                                                                            value="Negro">
                                                                        <label for="ritemd">Negro</label>
                                                                    </div>
                                                                    <div class="radio-item1">
                                                                        <input type="radio" id="ritema" name="color"
                                                                            value="Rojo">
                                                                        <label for="ritema">Rojo</label>
                                                                    </div>
                                                                    <div class="radio-item2" class="beige">
                                                                        <input type="radio" id="ritemb" name="color"
                                                                            value="Beige">
                                                                        <label for="ritemb">Beige</label>
                                                                    </div>
                                                                    <div class="radio-item3" class="blanco">
                                                                        <input type="radio" id="ritemc" name="color"
                                                                            value="Blanco">
                                                                        <label for="ritemc">Blanco</label>
                                                                    </div>
                                                                </div>
                                                                <!-- MENSAJE DE VALIDACION BACKEND -->
                                                                <% if (locals.errors ) { %>
                                                                    <% errors.forEach(error=> { %>
                                                                        <p class="text-danger">
                                                                            <%= error.param=='color' ?error.msg : null
                                                                                %>
                                                                        </p>
                                                                        <% }) %>
                                                                            <% } %>
                                                                                <!-- MENSAJE DE VALIDACION BACKEND / -->
                                                                                <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                                                                <span id="colorError"
                                                                                    class="text-danger small ms-2"
                                                                                    style="display: block;">
                                                                                    <%= locals.errors && errors.color ?
                                                                                        errors.color.msg : null%>
                                                                                </span>
                                                                                <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                                                            </label>

                                                            <!-- SIZE -->
                                                            <div>
                                                                <label for="size">Talles
                                                                    <div class="button-contain">
                                                                        <label for="s"> S
                                                                            <input type="radio" id="s" name="size"
                                                                                value="S">
                                                                        </label>
                                                                        <label for="m">M<input type="radio" id="m"
                                                                                name="size" value="M"></label>
                                                                        <label for="l">L<input type="radio" id="l"
                                                                                name="size" value="L"></label>
                                                                        <label for="xl">XL<input type="radio" id="xl"
                                                                                name="size" value="XL"></label>
                                                                    </div>
                                                                    <!-- MENSAJE DE VALIDACION BACKEND-->
                                                                    <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                                                                    <% if (locals.errors ) { %>
                                                                        <% errors.forEach(error=> { %>
                                                                            <p class="text-danger">
                                                                                <%= error.param=='size' ?error.msg :
                                                                                    null %>
                                                                            </p>
                                                                            <% }) %>
                                                                                <% } %>
                                                                                    <!-- MENSAJE DE VALIDACION BACKEND / -->
                                                                                    <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                                                                    <span id="sizeError"
                                                                                        class="text-danger small ms-2"
                                                                                        style="display: block;">
                                                                                        <%= locals.errors && errors.size
                                                                                            ? errors.size.msg : null%>
                                                                                    </span>
                                                                                    <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                                                                </label>
                                                            </div>




                                                            <!-- MENSAJE ERROR GENERAL (validaciones front)-->
                                                            <span id="errorEmpty" class="text-danger"
                                                                style="display: block;"></span>

                                                            <!-- SUBMITS -->
                                                            <a href="http://localhost:3017/admin" class="button-blue"
                                                                style="padding: 10px; color: white; border-radius: 5px;">
                                                                ADMIN
                                                            </a>
                                                            <button class=" button-blue" type="reset">
                                                                REINICIAR
                                                            </button>
                                                            <div class="col-12 mt-5">
                                                                <button type="submit" class="button-red"
                                                                    style="width: 80%;">
                                                                    CREAR
                                                                </button>
                                                            </div>
                                                            <!-- SUBMITS / -->



                    </form>
                </section>

            </main>

            <%- include('../partials/footer') %>

                <!-- PARA QUE FUNCIONE EDICIÓN DE IMÁGENES EN edit.ejs ?-->
                <%- include('../partials/scripts') %>

                    <!-- PONER ESTE LINK SINO NO, LAS VALIDACIONES FRONT NO FUNCNIONA!! -->
                    <script src="/js/productValidator.js"></script>

    </body>

</html>