<!-- NECESARIOEDIT -->
<!-- TODO MODIFICABLE -->

<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title : 'Agregar producto' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="add">

                <section class="contain-add">

                    <div>
                        <h3>EDITAR PRODUCTO</h3>
                    </div>

                    <!-- IMAGENES GUARDADAS -->
                    <!-- SIMPLEMENTE BUSCA EN LA DB POR LAS IMÁGENES EXISTENTES -->
                    <!-- FUERA DE form (podría estar dentro) PERO NO ESTÁ PARA INDICAR QUE ELIMINACION Y AGREGADO DE IMÁGENES ES EN PARALELO A formulario -->
                    <div class="row my-4 g-2">
                        <div id="preview">
                            <!--product.image NO product.images PORQUE EN MI DB ES image (singular)                         -->
                            <% product.image.forEach((img,index)=> { %>
                                <div class="col-4 text-center">
                                    <!-- ORIGINAL               /images/products/   CAMBIADA NUESTRA ALMACÉN POR DEFECTO DE IMÁGENES-->
                                    <img width="200" src="/img/productDetail-splide/<%= img.file %>" alt="imagen">
                                    <div>
                                        <a onclick="deleteImage('<%=img.id%>')" class="btn btn-danger ">Eliminar</a>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <!-- SIMPLEMENTE BUSCA EN LA DB POR LAS IMÁGENES EXISTENTES  /-->
                    <!-- IMAGENES GUARDADAS  / -->

                    <!-- FORM -->
                    <!-- CONFIGURACION PARA CARGAR ARCHIVOS CON  MULTER. enctype  -->
                    <!-- POR QUE?  ../  ? -->
                    <form action="../update/<%= product.id %>?_method=PUT" method="POST" id="formproductadd">
                        <!--ESTE id ESTÁ SIRVIENDO PARA VALIDACIONES FRONT -->

                        <!-- CAMBIAR IMÁGENES EDIT -->
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <!-- DE label for input id, LA RELACIÓN for id DEBE TENER EL MISMO VALOR PARA ELEGIR ARCHIVO A SUBIR -->
                                <label for="image" class="button-red" style="padding: 10px;">
                                    Subir imagen
                                </label>
                                <!--                                                                                                              name EEDITT CORRECTO -->
                                <!--                                                                                                             name   'splideImages' DEBE ESTAR IGUALITO EN router, ASI: router.put('/update/:id', uploadMultiple.array('splideImages'), validateAddEditProduct, update);-->
                                <input hidden class="form-control" type="file" accept="image/*" id="image"
                                    name="splideImages" multiple onchange="addImage('<%=product.id%>',this.files)"
                                    class="form-control <%= locals.errors && errors.splideImage ? 'is-invalid' : null %>">
                            </div>
                            <!-- MENSAJE DE VALIDACION BACKEND -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param='splideImages' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="splideImagesError" class="text-danger small ms-2">
                                                <%= locals.errors && errors.splideImages ? errors.splideImages.msg :
                                                    null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>
                        <!-- CAMBIAR IMÁGENES EDIT / -->

                        <!-- NAME -->
                        <div>
                            <label for="name" class="inputsEdit">Nombre
                                <input type="text" name="name" id="name"
                                    class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                    placeholder="Al menos 5 caracteres alfanuméricos"
                                    value="<%= locals.old && old.name ? old.name : product.name%>">
                                <!-- SI SE INGRESÓ DATOS RECIÉN        ? ESE DATO : SINO TRAER DATO DE DB -->
                                <!-- value: TRAIGA DATOS DE DB PERSISTIENDO SI NO SE INGRESA DATO NUEVO -->
                                <!-- value: SI HAY DATOS NUEVOS INGRESADOS, RECUERDA DATO NUEVO INGRESADO -->
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param='name' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="nameError" class="text-danger small ms-2" style="display: block;">
                                                <%= locals.errors && errors.name ? errors.name.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>

                        <!-- CATEGORY -->
                        <div>
                            <label for="category" class="inputsEdit">Categoria
                                <input type="number" name="category" id="category" placeholder="1=Hombre      2=Mujer"
                                    class="form-control <%= locals.errors && errors.category ? 'is-invalid' : null %>"
                                    value="<%= locals.old && old.category ? old.category : product.categoryId%>">
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param='category' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="categoryError" class="text-danger small ms-2"
                                                style="display: block;">
                                                <%= locals.errors && errors.category ? errors.category.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>

                        <!-- PRICE -->
                        <div>
                            <label for="price" class="inputsEdit">Precio
                                <input type="number" name="price" id="" placeholder="Número mayor a 100"
                                    class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                                    value="<%= locals.old && old.price ? old.price : product.price%>">
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param='price' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="priceError" class="text-danger small ms-2"
                                                style="display: block;">
                                                <%= locals.errors && errors.price ? errors.price.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>

                        <!-- DISCOUNT -->
                        <div>
                            <label for="discount" class="inputsEdit">Descuento
                                <input type="number" name="discount" id="" placeholder="Número entre 0 y 70"
                                    class="form-control <%= locals.errors && errors.discount ? 'is-invalid' : null %>"
                                    value="<%= locals.old && old.discount? old.discount:'0'%>">
                                <!--     SI PRODUCTO ES MAYOr A 0 TRAER DATO DB SINO, DATO ULTIMO INGRESADO AL EDITAR-->
                                <!--value: PARA QUE NO TRAIGA EL 0 DE LA DB -->
                            </label>
                            <!-- MENSAJE DE VALIDACION BACKEND-->
                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                            <% if (locals.errors ) { %>
                                <% errors.forEach(error=> { %>
                                    <p class="text-danger">
                                        <%= error.param='discount' ?error.msg : null %>
                                    </p>
                                    <% }) %>
                                        <% } %>
                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                            <span id="discountError" class="text-danger small ms-2"
                                                style="display: block;">
                                                <%= locals.errors && errors.discount ? errors.discount.msg : null%>
                                            </span>
                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                        </div>

                        <!-- DESCRIPTION -->
                        <h6>Descripción</h6>
                        <div class="add-description">
                            <textarea name="description" id="comentario"
                                class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                                placeholder="Al menos 20 caracteres es requerido"><%= locals.old && old.description ? old.description : product.description %></textarea>
                        </div>
                        <!-- MENSAJE DE VALIDACION BACKEND-->
                        <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                        <% if (locals.errors ) { %>
                            <% errors.forEach(error=> { %>
                                <p class="text-danger">
                                    <%= error.param='description' ?error.msg : null %>
                                </p>
                                <% }) %>
                                    <% } %>
                                        <!-- MENSAJE DE VALIDACION BACKEND / -->
                                        <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                        <span id="descriptionError" class="text-danger small ms-2"
                                            style="display: block;">
                                            <%= locals.errors && errors.description ? errors.description.msg : null%>
                                        </span>
                                        <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                                        <!-- DESCRIPTION / -->

                                        <!-- COLOR -->
                                        <div>
                                            <label for="">Colores
                                                <div class="button-contain">
                                                    <div class="radio-item4" class="negro">
                                                        <input type="radio" id="ritemd" name="color" value="Negro"
                                                            <%=product.color==="Negro" && 'checked' %>
                                                        class="form-control <%= locals.errors && errors.description
                                                            ? 'is-invalid' : null %>">
                                                            <label for="ritemd">Negro</label>
                                                    </div>
                                                    <div class="radio-item1">
                                                        <input type="radio" id="ritema" name="color" value="Rojo"
                                                            <%=product.color==="Rojo" && 'checked' %> >
                                                        <label for="ritema">Rojo</label>
                                                    </div>
                                                    <div class="radio-item2" class="beige">
                                                        <input type="radio" id="ritemb" name="color" value="Beige"
                                                            <%=product.color==="Beige" && 'checked' %> >
                                                        <label for="ritemb">Beige</label>
                                                    </div>
                                                    <div class="radio-item3" class="blanco">
                                                        <input type="radio" id="ritemc" name="color" value="Blanco"
                                                            <%=product.color==="Blanco" && 'checked' %>
                                                        class="form-control <%= locals.errors && errors.description
                                                            ? 'is-invalid' : null %>">
                                                            <label for="ritemc">Blanco
                                                            </label>
                                                    </div>
                                                </div>
                                                <!-- MENSAJE DE VALIDACION BACKEND -->
                                                <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                                                <% if (locals.errors ) { %>
                                                    <% errors.forEach(error=> { %>
                                                        <p class="text-danger">
                                                            <%= error.param='color' ?error.msg : null %>
                                                        </p>
                                                        <% }) %>
                                                            <% } %>
                                                                <!-- MENSAJE DE VALIDACION BACKEND / -->
                                                                <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                                                <span id="colorError" class="text-danger small ms-2"
                                                                    style="display: block;">
                                                                    <%= locals.errors && errors.color ? errors.color.msg
                                                                        : null%>
                                                                </span>
                                                                <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                                            </label>

                                            <!-- SIZE -->
                                            <div>
                                                <label for="size">Talles
                                                    <div class="button-contain">
                                                        <label for="s">S<input type="radio" id="s" name="size"
                                                                <%=product.size==="S" && 'checked' %>
                                                            value="S"></label>
                                                        <label for="m">M<input type="radio" id="m" name="size"
                                                                <%=product.size==="M" && 'checked' %>
                                                            value="M"></label>
                                                        <label for="l">L<input type="radio" id="l" name="size"
                                                                <%=product.size==="L" && 'checked' %>
                                                            value="L"></label>
                                                        <label for="xl">XL<input type="radio" id="xl" name="size"
                                                                <%=product.size==="XL" && 'checked' %>
                                                            value="XL"
                                                            class="form-control <%= locals.errors && errors.size
                                                                ? 'is-invalid' : null %>">
                                                        </label>
                                                    </div>
                                                    <!-- MENSAJE DE VALIDACION BACKEND-->
                                                    <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                                                    <% if (locals.errors ) { %>
                                                        <% errors.forEach(error=> { %>
                                                            <p class="text-danger">
                                                                <%= error.param='size' ?error.msg : null %>
                                                            </p>
                                                            <% }) %>
                                                                <% } %>
                                                                    <!-- MENSAJE DE VALIDACION BACKEND / -->
                                                                    <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                                                    <span id="sizeError" class="text-danger small ms-2"
                                                                        style="display: block;">
                                                                        <%= locals.errors && errors.size ?
                                                                            errors.size.msg : null%>
                                                                    </span>
                                                                    <!-- MENSAJE DE VALIDACION DEL FRONT / -->
                                                </label>
                                            </div>



                                            <!-- SECTIONS -->
                                            <div>
                                                <label for="section" class="inputsEdit">Disponible en la sección:
                                                    <div class="sectionProduct">
                                                        <!--NECESARIO PARA GUARDAR: name="section" -->
                                                        <input type="radio" id="banner" name="section" value="1"
                                                            <%=product.sectionId===1 && 'checked' %>>
                                                        <!-- GUARDA VALOR EN DB                                   value="1"-->
                                                        <!--     for="banner" id="banner" NECESARIO PARA VINCULAR CLIC AL SELECCIONAR -->
                                                        <label for="banner">1 Banner</label>
                                                        <input type="radio" id="masvendidos" name="section" value="2"
                                                            <%=product.sectionId===2 && 'checked' %>>
                                                        <label for="masvendidos">2 Más vendidos</label>
                                                        <input type="radio" id="promocion" name="section" value="3"
                                                            <%=product.sectionId===3 && 'checked' %>>
                                                        <label for="promocion">3 Promoción</label>
                                                        <input type="radio" id="ofertas" name="section" value="4"
                                                            <%=product.sectionId===4 && 'checked' %>>
                                                        <label for="ofertas">4 Ofertas</label>
                                                        <input type="radio" id="liquidacion" name="section" value="5"
                                                            <%=product.sectionId===5 && 'checked' %>>
                                                        <label for="liquidacion">5 Liquidación</label>
                                                    </div>
                                                </label>
                                            </div>
                                            <!-- MENSAJE DE VALIDACION BACKEND-->
                                            <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                                            <% if (locals.errors ) { %>
                                                <% errors.forEach(error=> { %>
                                                    <p class="text-danger">
                                                        <%= error.param='section' ?error.msg : null %>
                                                    </p>
                                                    <% }) %>
                                                        <% } %>
                                                            <!-- MENSAJE DE VALIDACION BACKEND / -->
                                                            <!-- MENSAJE DE VALIDACION DEL FRONT -->
                                                            <span id="sectionError" class="text-danger small ms-2"
                                                                style="display: block;">
                                                                <%= locals.errors && errors.section ? errors.section.msg
                                                                    : null%>
                                                            </span>
                                                            <!-- MENSAJE DE VALIDACION DEL FRONT / -->

                                                            <!-- MENSAJE ERROR GENERAL (validaciones front) -->
                                                            <span id="errorEmpty" class="text-danger"
                                                                style="display: block;"></span>


                                                            <!-- SUBMITS -->
                                                            <a href="http://localhost:3017/admin" class="button-blue"
                                                                style="padding: 10px; color: white; border-radius: 5px;">
                                                                ADMIN
                                                            </a>
                                                            <button class=" button-blue" type="reset">
                                                                REINICIAR
                                                            </button>
                                                            <div class="col-12 mt-5">
                                                                <button type="submit" class="button-red"
                                                                    style="width: 80%;">
                                                                    ACTUALIZAR
                                                                </button>
                                                            </div>
                                                            <!-- SUBMITS / -->

                    </form>

                </section>

            </main>

            <%- include('../partials/footer') %>

                <!-- HACE FUNCIONAR EDICIÓN DE IMÁGENES. DEBE ESTAR PRIMERO -->
                <script src="/js/productEdit.js"></script>
                <!-- HACE FUNCIONAR EDICIÓN DE IMÁGENES. DEBE ESTAR PRIMERO / -->

                <!-- PARA QUE FUNCIONE EDICIÓN DE IMÁGENES EN edit.ejs ?-->
                <%- include('../partials/scripts') %>

                    <!-- IMPORTA VALIDADOR FRONT -->
                    <!-- PONER ESTE LINK SINO NO, LAS VALIDACIONES FRONT NO FUNCNIONA!! -->
                    <!-- ESTE SCRIPT FUNCIONA PORQUE ESTA ENCERRADO EN window.onload = () => {} -->
                    <!-- SINO NO FUNCIONARÍA. NECESITA ESTAR PRIMERO, PERO PRIMERO TENEMOS A productEdit.js PARA EDICIÓN DE IMÁGENES DE PRODUCTO -->
                    <script src="/js/productValidator.js"></script>
                    <!-- IMPORTA VALIDADOR FRONT / -->
    </body>

</html>