<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title: 'Registro de usuario'}) %>

<body class="register">
    <%- include('../partials/header') %>

    <main class="edit">
        <section class="contain-edit">

            <h3>FORMULARIO REGISTRO</h3>
            <!-- // app.js+users.js= '/users/register' -->
            <form action="/users/register" method="POST" enctype="multipart/form-data">

                <div>
                    <label for="name">Nombre
                        <input class="form-control" type="text" id="name" placeholder="Ingrese su nombre" name="name" value="<%= locals.old && old.name ? old.name : null %>">
                        <span id="error-name" class="small text-danger"><%= locals.errores && errores.name ? errores.name.msg : null %> </span>
                                <span id="info-name" class="small text-info"></span>  
                        
        
                </div>

                <div>
                    <label for="lastName">Apellido
                        <input class="form-control" type="text" id="lastName" placeholder="Ingrese su apellido" name="lastName" value="<%= locals.old && old.lastName ? old.lastName : null %>">
                        <span id="error-lastName" class="small text-danger"><%= locals.errores && errores.lastName ? errores.lastName.msg : null %> </span>
                        <span id="info-lastName" class="small text-info"></span> 
                </div>

                <div>
                    <label for="email">Correo electronico
                        <input class="form-control" type="email" id="email" placeholder="Ingrese su Email" name="email">
                        <span id="error-email" class="small text-danger"><%= locals.errores && errores.email ? errores.email.msg : null %> </span>
                        <span id="info-email" class="small text-info"></span>
                </div>

                <div>
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" id="password" placeholder="Ingrese su contraseña" name="password">
                    <span id="error-password" class="small text-danger"><%= locals.errores && errores.password ? errores.password.msg : null %> </span>
                                <span id="info-password" class="small text-info"></span>
                </div>

                <div>
                    <label  for="password2">Confirmar Contraseña</label>
                    <input class="form-control" type="password" id="password2" placeholder="Ingrese su contraseña" name="password2">
                    <span id="error-password2" class="small text-danger"><%= locals.errores && errores.password2 ? errores.password2.msg : null %> </span>
                </div>

                <div>
                    <label><b>País de nacimiento:</b></label>
                    <select name="country"
                        class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>">
                        <option value="">Elegí un país</option>
                        <%  
                                let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
                            %>
                        <!--                   UN PAIS    DE  PAISES -->
                        <% for (const oneCountry of countries) { %>
                        <!-- EN  value               UN PAIS     Y EL SIGUIENTE... HASTA RECORRER TODOS LOS PAISES EN contries EN value-->
                        <option value="<%= oneCountry %>"
                            <%= locals.old && (oneCountry === old.country) ? 'selected' : null %>>
                            <%= oneCountry %>
                        </option>
                        <!-- SI DATO VIEJO  Y  UN PAIS    IGUAL A VIEJO PAIS  ? SELECCIONARLO  :  SINO PONER nada -->
                        <!--        UN PAIS          MOSTRAR Y LOS SIGUIENTES... HASTA COMPLETAR TODOS LOS PAISES EN countries EN option-->
                        <% } %>
                    </select>
                </div>
                <!-- MENSAJE DE VALIDACION -->
                <!-- CONDICIONAL NECESARIO PARA MOSTRAR ERRORES SOLO SI LOS HAY, O CUANDO LOS HAYA. SINO MOSTRARÍA ERROR -->
                <% if (locals.errors ) { %>
                <% errors.forEach(error => { %>
                <p class="text-danger">
                    <%= error.param=='country' ?error.msg : null %>
                </p>
                <% }) %>
                <% } %>
                <!-- MENSAJE DE VALIDACION/ -->
                <div>

                    <label><b>Imagen de perfil:</b></label>
                    <input type="file" name="avatar" id="imagen">
                    <span id="error-avatar" class="small text-danger"><%= locals.errores && errores.avatar ? errores.avatar.msg : null %> </span>
                    <span id="info-img" class="small text-info"></span>
                        
                </div>

                <!-- CAJAS -->

                <div>
                    <div class= "terms">
                     <input type="checkbox" name="terms" value="terms">
                     <label for="terms">Acepto los terminos y
                        condiciones</label>
                    </div>
                        <span id="error-terms" class="small text-danger"><%= locals.errores && errores.terms ? errores.terms.msg : null %> </span>
                </div>
              
                <div class="terms">
                    <input type="checkbox" name="rol" value="2" id="rol">
                    <label for="rol">Esta es una cuenta de Administrador</label>
                </div>
               
                <div>
                    <button class="button-blue" type="submit">Crear</button>
                    <button class="button-red" type="reset">Cancelar</button>
                </div>
            </form>
            <div>
                <label for="">¿Ya tenes usuario? <button class="button-blue"><a
                            href="/users/login">Logueate</a></button></label>
            </div>
        </section>
    </main>





    <%- include('../partials/footerRegister') %>
    <script src="/js/registerValidator.js"></script>

</body>

</html>